* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --primary: #c54e22;
    --dark: #1a1a1a;
    --gray: #6c757d;
    --light: #f8f9fa;
    --radius: 16px;
    --shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;

}

html {
    scroll-behavior: smooth;
}

.btn {
    background: var(--primary);
    display: inline-block;
    padding: 12px 24px;
    color: #fff;
    border-radius: 10px;
    font-weight: 600;
    transition: 0.3s;
    cursor: pointer;
}

.btn:hover {
    filter: brightness(0.9);
    transform: translateY(-2px);
}

.btn-outline {
    background: transparent;
    border: 2px solid var(--primary);
    color: var(--primary);
}

.btn-outline:hover {
    background-color: var(--primary);
    color: #fff;
}

.btn-ligth {
    background-color: #fff;
    color: var(--primary);
}

.logo {
    font-size: 25px;
    font-weight: 700;
}

header {
    position: fixed;
    inset: 0 0 auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 5%;
    background: #fff;
    box-shadow: var(--shadow);
    z-index: 100;
}

header nav {
    display: flex;
    gap: 30px;

}

header nav a {
    font-weight: 1000;
    font-size: 30px;
    transition: 0.3s;
}

header nav a:hover {
    color: var(--primary);
    transform: translateY(-2px);
}

.hero-wrapper {
    background: linear-gradient(115deg, #d6d261, #f3eded);
    padding-top: 30px;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 60px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 60px 20px;
}

.hero h1 {
    font-size: 40px;
    line-height: 1.1;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    color: var(--gray);
    margin-bottom: 30px;
}

.hero img {
    border-radius: var(--radius);
    box-shadow: 0 20px 60px rgba(255, 100, 53, 0.6);
}

.hero-buttons {
    display: flex;
    gap: 15px;
    margin-bottom: 40px;
}

.hero-stats {
    display: flex;
    gap: 40px;
}

.hero-stats li {
    display: flex;
    flex-direction: column;
}

.hero-stats span {
    font-size: 15px;
    color: var(--gray);
}

.hero-stats strong {
    font-size: 25px;
    color: var(--primary);
}

.cardapio {
    padding: 80px 5%;
    text-align: center;
}

.cardapio h2 {
    font-size: 35px;
    margin-bottom: 10px;
}

.cardapio p {
    color: var(--gray);
    margin-bottom: 50px;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin: 0 auto;
}

.menu-grid li {
    position: relative;
    background-color: #fff;
    border-radius: var(--radius);
    overflow: hidden;
    box-shadow: var(--shadow);
    text-align: left;

}

.menu-grid li img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.badge {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: var(--primary);
    color: #fff;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
}

.menu-grid h3 {
    padding: 20px 20px 10px;
    font-size: 20px;

}

.menu-grid p {
    padding: 0 20px;
    font-size: 15px;
    color: var(--gray);
}

.menu-grid strong {
    display: block;
    padding: 15px 20px 0;
    font-size: 25px;
    color: var(--primary);
}

.menu-grid .btn {
    display: block;
    margin: 15px 20px 20px;
    text-align: center;
    padding: 10px;
}

.sobre{
    display: flex;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 60px;
    padding: 80px 5%;
    background-color: var(--light);
}

.sobre img{
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}

.sobre h2{
    font-size: 40px;
    margin-bottom: 20px;
}

.sobre article{
    color: var(--gray);
    margin-bottom: 30px;
}

.sobre ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cta{
    padding: 80px 5%;
    text-align: center;
    background: linear-gradient(135deg, var(--primary), #e55a2b);
}

.cta h2{
    font-size: 36px;
    color: #fff;

}

.cta p{
    color: rgba(225, 225, 225, 0.9);
    font-size: 18px;
    margin-bottom: 30px;
}

footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 50px 5%;
    background: var(--dark);
    color: #fff;

}

footer .copy{
    grid-column: 1/-1;
    text-align: center;
}


/* Tablets */
@media (max-width: 900px) {
    header nav {
        gap: 15px;
    }

    header nav a {
        font-size: 18px;
    }

    .hero {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .hero img {
        order: -1;
        max-width: 80%;
        margin: 0 auto;
    }

    .hero-stats {
        justify-content: center;
    }

    .sobre {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .sobre img {
        max-width: 80%;
        margin: 0 auto;
    }

    footer {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* CELULARES */
@media (max-width: 300px) {
    header nav {
        display: none; /* simplifica navegação em mobile */
    }

    .logo {
        font-size: 22px;
    }

    .hero h1 {
        font-size: 28px;
    }

    .hero p {
        font-size: 16px;
    }

    .menu-grid li img {
        height: 250px;
    }

    .cardapio h2 {
        font-size: 28px;
    }

    .sobre h2 {
        font-size: 28px;
    }

    footer {
        grid-template-columns: 1fr;
        text-align: center;
    }
}
